Package: com.iter99.roundme
Name: RoundMe
Depends: mobilesubstrate, preferenceloader, firmware (>= 11)
Version: 1.4
Architecture: iphoneos-arm
Description: Get rounded something
 Special thanks: 
 - Ryannair05
 - P2kdev
 - Conor Byrne
Maintainer: iTer99 <hoan.nguyen.16999@gmail.com>
Author: iTer99 <hoan.nguyen.16999@gmail.com>
Section: Tweaks
Depiction: https://nguyenthienhoan.github.io/repo/depictions/com.iter99.roundme
Icon: https://nguyenthienhoan.github.io/repo/depictions/com.iter99.roundme/DebIcon.png
